# Server-specific passwords etc.
.env

# Generated
/react/build
/django/media
/django/static
/react/node_modules

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
_build

# Testing
.pytest_cache
