#footer {
    display: block;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    border-top: 1px #ccc solid;
    margin: 0;
    padding-left: 8px;
    z-index: 9;
}
