#header {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 32px;
    width: 100%;
    border-bottom: 1px #ccc solid;
    margin: 0;
    z-index: 9;
}

#header p.breadcrumbs {
    width: 69%;
    margin: 8px;
}

#header ad-page-search {
    width: 30%;
    position: absolute;
    right: 5px;
    top: 2px;
}
